# CockroachDB Entrega 3
CRDB_E3_IMAGE=cockroachdb/cockroach:v26.2.0

CRDB_E3_1_SQL_PORT=26261
CRDB_E3_1_HTTP_PORT=8092

CRDB_E3_2_SQL_PORT=26262
CRDB_E3_2_HTTP_PORT=8093

CRDB_E3_3_SQL_PORT=26263
CRDB_E3_3_HTTP_PORT=8094
